<div th:fragment="menuFragment" xmlns:th="http://www.w3.org/1999/xhtml">
  <div id="menu">
    <nav class="navbar navbar-expand-lg nav-light bg-light">
      <div class="container">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/funcionarios"> Funcionarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cargos"> Cargos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/departamentos"> Departamentos</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</div>